<%- contentFor('header') %>
  <div class="banner">
    <img src="/img/TourneyBaseLogo.png" alt="logo" class="logo">
        <div class="title">Tourney Center </div>
      </div>
<%-contentFor('body') %>
    <div class="card card-body registerWrap">
      <h1 class="text-center mb-3">
        <en class="fas fa-user-plus"></en> Register
      </h1>
      <%- include ("./partials/messages"); %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="username"
            id="username"
            name="username"
            class="form-control"
            placeholder="Enter Userame"
            value="<%= typeof username != 'undefined' ? username : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>